*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background: #000;
}
.content{
    width: 80%;
    background: #000;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;

}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
ul li{
    display: inline;
    margin: 0 20px;
    font-size: 1.5rem;
}
.home li{
    color: #b74b4b;
    width: fit-content;
    border-bottom: 2px solid #b74b4b;
}
.logo{
    color: #b74b4b;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bolder;

}
ul li:hover{
    color: #b74b4b;
    cursor: pointer;
    border-bottom: 2px solid #b74b4b;
}
section{
    display: flex;
    gap: 30px;
}
section .img img{
    width: 500px;
    border-radius: 50%;
    translate: 0px -80px;
}
section .hadra{
    translate: 70px 100px;
    
}
.hadra h1{
    font-size: 3rem;
}
.hadra h3{
    font-size: 2.5rem;
}
.hadra span{
    color: #b74b4b;
}
.hadra p{
    font-size: 1.2rem;
    color: #ddd;
    line-height: 25px;
}
.hadra .words::before{
    content: "Web developer";
    animation: words 15s infinite;

}
.hadra .words::after{
    content: "";
    animation: cursor 0.5s infinite;
}
@keyframes cursor {
    to{
    border-left: 3px solid #b74b4b;
    }
}
@keyframes words {
    0%, 20%{
        content: "Youtuber";
    }
    21%, 40%{
        content: "Script Writer";
    }
    41%, 60%{
        content: "Software Developer";
    }
    61%, 80%{
        content: "Back-End Developr";
    }
    81%, 100%{
        content: "Content Creator";
    }
}
.icons{
    width: fit-content;
}
.icons i{
    border: 1px solid #b74b4b;
    padding: 10px;
    border-radius: 50%;
    width: fit-content;
    color: #b74b4b;
    font-size: 2rem;
    margin: 30px 0;
    margin-right: 20px;
}
.icons i:hover{
    cursor: pointer;
    background: #b74b4b; 
    color: white;
    padding: 15px;
    transition: 0.2s;
}
.btn{
    border: 2px solid #b74b4b;
    width: fit-content;
    padding: 20px 50px;
    border-radius: 45px;
    color: #b74b4b;
    font-size: 1.2rem;
}
.btn:hover{
    background: #b74b4b;
    color: white;
    cursor: pointer;
}
@media (max-width:995px) {
    .menu{
        display: none;
        text-align: center;
    }
}
@media (max-width:600px) {
    section{
        flex-direction: column;
        translate: 0px 100px;

    }
    .hadra{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .hadra h1{
        font-size: 2.5rem;
    }
    .hadra h3{
        font-size: 2rem;
    }
    .logo{
        translate: 50%;
        width: 100%;
    }
}